h1 {
    @apply text-6xl text-center;
}

h2 {
    @apply text-4xl text-center;
}
h3 {
    @apply text-2xl text-center;
}

.text-sell {
    color: #ee0000;
}

.text-buy {
    color: #24de18;
}

.content-box {
    @apply bg-gray-100 dark:bg-gray-800 dark:text-gray-100 shadow-xl rounded-box p2 m2;
}

.border {
    border: 1px solid #434343;
    border-radius: 2px;
}

.nav-tabs .nav-item .nav-link {
    color: inherit;
    border-radius: 4px;
}
.nav-tabs .nav-link.green.active {
    background: rgb(2, 191, 118);
    border-color: rgb(2, 191, 118);
}
.nav-tabs .nav-link.red.active {
    background: rgb(242, 59, 105);
    border-color: rgb(242, 59, 105);
}

.order-input-group {
    margin-bottom: 8px;
    > * {
        background-color: rgba(255, 255, 255, 0.04);
        border: 1px solid #434343;
    }
}
.order-input-group > :first-child {
    border-right: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.order-input-group > :not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
